body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 60%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #3498db; /* Blue border color */
    border-radius: 8px; /* Rounded corners */
}

h2 {
    text-align: center;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.back-btn {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4c63af;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.back-btn:hover {
    background-color: rgb(30, 45, 94);
}
